external-secrets:
  priorityClassName: ""
  replicaCount: 2
  concurrent: 8
  extraArgs:
    client-qps: 50
    client-burst: 100
#    log.level: debug
  installCRDs: true
  leaderElect: true
  rbac:
    create: true
  serviceAccount:
    name: "external-secrets"
  prometheus:
    enabled: true
  podDisruptionBudget:
    enabled: true
    maxUnavailable: 25%
    minAvailable: 0
  resources:
    requests:
      cpu: 4
      memory: 512Mi
    limits:
      cpu: 8
      memory: 1Gi
  revisionHistoryLimit: 2
  podLabels:
    goharbor.io/harbor-container-webhook-disable: "true"
  tolerations: []
  nodeSelector: {}
  topologySpreadConstraints: []
  webhook:
    replicaCount: 2
    podAnnotations:
      ad.datadoghq.com/webhook.logs: '[{"service":"external-secrets","source":"go"}]'
    revisionHistoryLimit: 2
    tolerations: []
    nodeSelector: {}
    topologySpreadConstraints: []
  certController:
    podAnnotations: {}
    tolerations: []
    nodeSelector: {}
    revisionHistoryLimit: 2