external-secrets:
  priorityClassName: ""
  replicaCount: 2
  concurrent: 8
  extraArgs:
    client-qps: 50
    client-burst: 100
#    log.level: debug
  installCRDs: true
  crds:
    annotations:
      argocd.argoproj.io/sync-options: ServerSideApply=true
      argocd.argoproj.io/sync-wave: "-10"
  leaderElect: true
  rbac:
    create: true
  serviceAccount:
    name: "external-secrets"
  podDisruptionBudget:
    enabled: true
    maxUnavailable: 1
    minAvailable: 0
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
    limits:
      cpu: 500m
      memory: 1Gi
  revisionHistoryLimit: 2
  podLabels:
    goharbor.io/harbor-container-webhook-disable: "true"
  tolerations: []
  nodeSelector: {}
  topologySpreadConstraints: []
  serviceMonitor:
    enabled: true
    renderMode: skipIfMissing
    interval: 30s
    scrapeTimeout: 25s
  metrics:
    service:
      enabled: true
  webhook:
    replicaCount: 2
    podAnnotations:
      ad.datadoghq.com/webhook.logs: '[{"service":"external-secrets","source":"go"}]'
    revisionHistoryLimit: 2
    tolerations: []
    nodeSelector: {}
    topologySpreadConstraints: []
    serviceMonitor:
      enabled: true
    metrics:
      service:
        enabled: true
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 200m
        memory: 512Mi
  certController:
    podAnnotations: {}
    tolerations: []
    nodeSelector: {}
    revisionHistoryLimit: 2
    metrics:
      service:
        enabled: true
    serviceMonitor:
      enabled: true
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 200m
        memory: 512Mi